.slider-block {
  position: relative;
}

.slider {
  overflow-x: scroll;
  white-space: nowrap;
  user-select: none;
  position: relative;
  overflow: hidden;
  user-select: none;
  touch-action: pan-y;
}

.slides {
  display: flex;
  user-select: none;
}

.slide {
  position: relative;
  user-select: none;
}

/* Arrows */
.slick-prev,
.slick-next {
    height: 68%;
    font-size: 20px;
    position: absolute;
    display: block;
    top:0;
    color: #fff;
    width: 32px;
    padding: 0;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 12px;
}
.slick-prev:hover,
.slick-next:hover {
    background: var(--card-bg);
    outline: none;
    opacity: 0.8;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev {
    left: 2px;
}
.slick-next {
    right: 2px;
}

.slickNavBottom {
  display: flex;
  justify-content: center;
}

.slickNavBottom .line {
  background: #3f4044;
  border-radius: 12px;
  height: 10px;
  width: 10px;
  margin: 0 4px;
}
.slickNavBottom .line.on {
  background: #193589;
}

@media screen and (max-width: 575px) {
  .slider-block {
    padding: 0;
  }
}